/* Background */
/* Background */

.auth-wrapper {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/signup.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: "Segoe UI", sans-serif;
}

/* Card */
.auth-card {
  width: 340px;
  padding: 30px;
  border-radius: 18px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  animation: fadeIn 0.5s ease;
}

/* Heading */
.auth-card h2 {
  margin-bottom: 5px;
}

.auth-card p {
  font-size: 14px;
  opacity: 0.8;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
}

/* Button */
.auth-card button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;

  background: #00c853;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-card button:hover {
  background: #00e676;
  transform: scale(1.03);
}

/* Footer */
.auth-footer {
  margin-top: 12px;
  font-size: 13px;
}

.auth-footer span {
  color: yellow;
  cursor: pointer;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 500px) {
  .auth-card {
    width: 90%;
    padding: 20px;
  }
}